<h4>Posts</h4>

<div class="d-flex justify-content-around">
<% posts.each do |post| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag(url_for(post.image), size: '100x100', alt: 'Post', class: 'mb-2') %>
    <div class="card-body">
      <h5 class="card-title">Post Title</h5>
      <p class="card-text"><%= post.title %></p>
      <%= link_to 'Show', post, class:"btn btn-success" %> |
      <%= link_to 'Edit', edit_post_path(post), class:"btn btn-warning" %>
    </div>
  </div>
<% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path, class:"btn btn-info" %>
<%= link_to 'Home', root_path, class:"btn btn-primary" %>